* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.heading {
    display: flex;
    padding: 20px 40px;
    align-items: flex-start;
    gap: 840px;
    padding-left: 84px;
}

.my_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.header1 {
   
color: #181818;
font-size: 110px;
font-style: normal;
font-weight: 100;
line-height: 86%;
letter-spacing: -5.2px;
text-align: center;
}

.goals1, .goals2{
    
    display: flex;
    text-align: center;
    padding: 17px;
    /* padding-left: 400px;
    padding-right: 400px; */
    text-align: justify;
}

.last_secion{
    background-color: #000;
    color: white;
}

.last_nav{
    font-size: 18px;
    padding-top: 25px;
    padding-left: 50px;
}

.last_header{
    font-size: 128px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 128px */
letter-spacing: -3.2px;
align-items: flex-start;
padding-top: 25px;
padding-left: 44px;
}

.last_nav p a{
    color: white;
}

.last_div{
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 33px;
    padding-left: 50px;
    padding-right: 50px;
}
#profile{
    display: grid;
    flex-direction: column;
}

p a{
    text-decoration: none;
    color: #000;
}

ul a{
    color: white;
    text-decoration: none;
    padding: 18px;
}

li a{
    color: white;
    text-decoration: none;
}

.hngliks{
    padding-right: 11px;
}

@media screen and (max-width:600px) {
    .header1{
        display: flex;
        align-items: flex-start;
        font-size: 39px;
        padding-left: 67px;
        letter-spacing: -2px;
    }

    .my_icon{
        display: flex;
        color: #181818;
        font-style: normal;
        font-weight: 100;
        line-height: 110%;
        text-align: center;
    }

    .goals1, .goals2{
    
        display: flex;
        text-align: center;
        padding: 17px;
        /* padding-left: 90px;
        padding-right: 90px; */
        text-align: justify;
        background-color: #fff;
        color: black;
    }
    
    .last_nav{
        font-size: 12px;
        padding-top: 23px;
        padding-left: 10px
    }

    .last_header{

    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 85%;
    letter-spacing: -1.2px;
    padding-top: 20px;
    padding-left: 13px;
    }

    .last_div{
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        gap: 11px;
    }

    .hngliks{
        padding-right: 11px;
    }
    
    li a{
        color: white;
        text-decoration: none;
        padding-right: 11px;
    }
}